body {
    margin-top: 84px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
}

.float {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 100;
    width: 400px;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #3EC487;
}

input:focus+.slider {
    box-shadow: 0 0 1px #3EC487;
}

input:checked+.slider::before {
    -webkit-transform: translateX(29px);
    -ms-transform: translateX(29px);
    transform: translateX(29px);
    content: 'A';
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

input+.slider::before {
    content: 'I';
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .switch {
        width: 42px;
        height: 19px;
    }

    .slider:before {
        height: 12px;
        width: 12px;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(21px);
        -ms-transform: translateX(21px);
        transform: translateX(21px);
        font-size: 10px;
    }

    input+.slider:before {
        font-size: 10px;
    }
}